html, body {
    height: 100%;
    width: 100% ;
    font-family: sans-serif;
    color: #222;
} 

.navbar {
    padding: .9rem;
}

.navbar-nav li {
    padding-right: 20px;
}

.nav-link {
    font-size: 20px;
}

.carousel-inner img {
    width: 100%;
    height: 100%;
}

.carousel-caption {
    position: absolute;
    top: 39%;
}

.jumbotron {
    padding: 1rem;
    border-radius: 0;
}

.padding {
    padding-bottom: 2rem;
}

.welcome {
    width: 75%;
    margin: 0 auto;
    padding: top 2rem;
}

.welcome hr {
    border-top: 2px solid #b4b4b4;
    width: 95%;
    margin-top: .3rem;
    margin-bottom: 1rem;
}

.fa-code, .fa-html5, .fa-css3, .fa-camera, .fa-laptop, .fa-mobile, .fa-bolt{
    color: cornflowerblue;
    font-size: 4em;
    margin: 1rem;
}

.fa-html5 {
    color: tomato;
}

.fa-bolt {
    color: goldenrod;
}

.fa-code {
    color: maroon;
}

.fa-mobile {
    color: coral;
}

.fa-css3 {
    color: seagreen;
}

.fa-camera {
    color: saddlebrown;
}

.fa-facebook, .fa-instagram, .fa-github, .fa-linkedin {
    color: cornflowerblue;
    font-size: 4em;
    margin: 1rem;
}

footer {
    background-color: darkgray;
}